.grid-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 230, 180, 0.2);
}

/* Wrapping panel */
.calendar-container {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 230, 180, 0.2);
}

.calendar-container h2 {
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}


/* Buttons used in panel */
.panel-button {
  background: #444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  margin: 10px;

  cursor: pointer;
  font-size: 15px;

  transition: background 0.2s, transform 0.1s;
}

.panel-button:hover {
  background: #555;
}

.panel-button:active {
  transform: scale(0.97);
}

/* Input for calories limit */
.form-input {
  width: 15%;
  padding: 10px;
  border-radius: 6px;

  border: 1px solid #666;
  background: #2a2a2a;
  color: white;

  font-size: 15px;
  text-align: center;

  transition: border-color 0.2s;
}

.form-input:focus {
  outline: none;
  border-color: #888;
  background: #333;
}

/* calendar buttons */

.calendar-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Colors depends on calories */
.day-zero {
  background: white;
}

.day-green {
  background: #a8e6a3;
}

.day-yellow {
  background: #ffd59e;
}

.day-red {
  background: #ff9e9e;
}

/* Today */
.today {
  border: groove red;
}

/* button text color */
.calendar-day-calories {
  font-size: 0.8em;
  color: gray;
}

