body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; */
  background: linear-gradient(45deg,indigo, blue,purple, violet);
}


.login {
  display: flex;
  flex-direction: column;   
  gap: 10px;                
  padding: 20px;
  font-size: 24px;
}

.login input{
  font-size: 20px;
}

.login button {
  background-color: blue;
  color: white;
}


.login {
  display: flex;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}



