body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 230, 180, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login input{
  font-size: 20px;
}

.login button {
  background: #444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  margin: 10px;

  cursor: pointer;
  font-size: 20px;

  transition: background 0.2s, transform 0.1s;
}

.login button:hover {
  background: #555;
}

.login button:active {
  transform: scale(0.97);
}

.login a {
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

.login a:hover {
  color: gray;
}



