.navbar{
    background-color: #333;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;

}

/* body {
  padding-top: 0px; 
} */

.logo{
    font-size: 36px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.logo a{
    color:white;
}
.logo a:hover{
    color:gray;
}



.btn-logout{
    background-color: red;
    color: white;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 30px; 
  margin: 10;
  margin-right: 30px;
  align-items: center; 
}



.navbar-links a{
    color: white;
}

.navbar-links li a:hover {
  color: gray; /* optional: hover effect */
}